<li class="meetup-item" >
            <article>
                <div class="meetup-summary">
                    <div class="meetup-image">
                    <img scr=" " alt=""> </div>
                    <div>
                        <div class="meetups-details">
                            <h3> {{title}}</h3>
                            <address>{{location}}</address>
                        </div>
                    </div>
                    <br>
                    <div class="meetups-action">
                        <a href="{%url 'meetups-detail' meetups_items.slug %}" class="btn">More details</a>
                    </div>
                </div>
            </article>
        </li>