{% extends "meetups/base/base.html" %}
{% load static%}
{%block title%} All Meetups {%endblock%}
{%block site_css%}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css'%}>
{%endblock%}
 {%block main_heading%}
 We Got Meeting Coming UP!
 {%endblock%}
 {%block header_content%}
 Find the one that best suits your needs!

 {%endblock%}
{%block body%}
<main>
<section>
    <h2>Upcoming Meetups</h2>
    <ol>
        {%for meetups_items in meetups%}
         {% include 'meetups/includes/meetup-item.html' with title=meetups_items.title image=meetups_items.image.url location='New York' slug=meetups_items.slug %}
        {%endfor%}
    </ol>
</section>
</main>
{%endblock%}
